
/* Custom styles for Confluence (included for all themes by default) */

#splitter-sidebar li {
    padding: 0 0 6px 1.4em;
    border-bottom: 0 none;
}

#splitter-sidebar li a {
    padding-left: 0;
}

#splitter-sidebar p {
    padding: 0 0 0 0.7em;
    margin: 1.2em 0 0.3em 0;
}

/* End custom styles for Confluence */


