
/* Custom styles for Confluence (included for all themes by default) */

                /* Hide Children from page footers */     
div#children-section {     
display: none;     
}     

/*Add margin to search macro in nav tree */
.search-macro-query {
margin-left: 5px;
}
.search-macro-medium .search-macro-query {
width: 235px;
}

/* End custom styles for Confluence */


