/* CLASSES CSS - th[eZ]20070125 */


/* BASIC CLASS TEMPLATE DESIGN */

div.template-design
{
    background-image: url(../images/box-te.gif);
    background-repeat: repeat-x;
    background-position: top;
}

div.template-module
{
    background-image: url(../images/box-tl.gif);
    background-repeat: no-repeat;
    background-position: top left;
}

div.template-object
{
    background-image: url(../images/box-tr.gif);
    background-repeat: no-repeat;
    background-position: top right;
    padding: 0.5em 12px 1.5em 12px;
}

div.area-main-full-padding
{
    margin-top: -1.5em;
    padding: 0 1em 0.5em 1em;
    background-image: none;
}

div.area-main-normal div.attribute-heading h2.bullet
{
    background-position: 0 0.45em;
}

div.content-view-sidebar h1
{
    font-size: 1.2em;
    font-weight: bold;
}

div.content-view-sidebar h2
{
    font-size: 1.2em;
    font-weight: bold;
}

div.content-view-sidebar h3
{
    font-size: 1em;
}

div#main p a, div#main li a, div#main td a, div#main dl dd a /* LINK */
{
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #d2d2d2;
}

div#main a b, strong a
{
    color: #000000;
}

div#main a:hover, div#main a:hover b, strong a:hover
{
    color: #000000;
    border-color: #f15e22;
    text-decoration: none;
}

div.template-design ul
{
    padding: 0;
    margin: 0.75em 0 1em 0;
}

div.template-design ul ul, div.template-design ol ul
{
    margin: 0.3em 0 0.5em 12px;
}

div.template-design ul
{
    list-style-type: none;
}

div.template-design ul li
{
    margin: 0 0 0.5em 0.25em;
    padding: 0 0 0 14px;
    background-image: url(../images/mainlist-bullet.gif);
    background-repeat: no-repeat;
    background-position: 0 0.3em;
    line-height: 1.25em;
}

div.pagenavigator
{
    margin-top: 1em;
    text-align: center;
}

div.pagenavigator span.previous
{
    float: left;
}

div.pagenavigator span.next
{
    float: right;
}

div.pagenavigator span.current
{
    font-weight: bold;
    color: #4e4e4e;
}


/* GENERAL CLASSES */


div#main h1 a, div#main h2 a, div#main h3 a, div#main h4 a
{
    text-decoration: none;
    border: none;
}

div#main h1 a
{
    color: #f15e22;
}

div#main h2 a
{
    color: #333333;
}

div#main h3 a, div#main h4 a
{
    color: #808080;
}

div#main h1 a:hover, div#main h2 a:hover, div#main h3 a:hover, div#main h4 a:hover
{
    color: #000000;
    border-bottom: 1px solid #f15e22;
}

div#main b, div#main label, strong
{
    color: #333333;
}

div.content-view-full
{
}

div.content-view-line
{
    margin-bottom: 2em;
}

div.attribute-heading h1, div.attribute-heading h2, div.attribute-heading h3
{
    margin: 0.25em 0 0.5em 0;
}

div.attribute-heading h2.bullet
{
    padding-left: 14px;
    background-image: url(../images/content-header-bullet.gif);
    background-repeat: no-repeat;
    background-position: 0 0.35em;
}

div#main div.attribute-heading h1
{
    color: #f15e22;
}

div#main div.attribute-heading h2.bullet, div#main div.attribute-heading h2.bullet a
{
    color: #333333;
}

div.split div.attribute-heading h1, div.split div.attribute-heading h2
{
    color: #6a6a6a;
}

div.node-view-frontpage div.attribute-heading h2
{
    margin-bottom: 0.25em;
}

div#main ul li h3 a:hover
{
    color: #000000;
    text-decoration: none;
}

div.attribute-byline
{
    font-size: 0.85em;
}

div.attribute-byline p
{
    margin: 0 0 0.5em 0;
}

div.content-view-full div.attribute-byline p
{
    margin-bottom: 1em;
}

div.content-view-sidebar div.attribute-byline
{
    font-size: 1em;
    margin: 0;
}

div.attribute-byline p.author
{
    float: right;
    clear: right;
}

div.attribute-byline p.date
{
    float: left;
    clear: left;
}

div.content-view-sidebar div.attribute-byline p.author, div.content-view-sidebar div.attribute-byline p.date
{
    float: none;
}

div.content-view-line div.attribute-byline
{
    margin-bottom: 0;
}

div.content-view-line div.attribute-short, div.content-view-line div.attribute-short p
{
    margin-top: 0.25em;
}

div.attribute-long
{
    margin-bottom: 1.5em;
}

div.content-view-line div.attribute-image
{
    float: right;
    margin: 0.35em 0 0.5em 0.5em;
}

div.attribute-linklist ul li, div.template-design ul.linklist li
{
    margin: 0 0 0.5em 0;
    padding: 0 0 0 14px;
    background-image: url(../images/linklist-bullet.gif);
    background-repeat: no-repeat;
    background-position: 0 0.4em;
    line-height: 1.25em;
}

.required
{
    color: #ff0000;
    font-weight: bold;
}

div.content-view-list h3
{
    font-size: 1em;
    font-weight: normal;
    margin: 0;
}

div#main div.content-view-list h3 a
{
    color: #4e4e4e;
    border-bottom: 1px solid #d2d2d2;
}

div#main div.content-view-list h3 a:hover
{
    border-bottom-color: #000000;
}

li div.attribute-byline
{
    margin: 0.25em 0 0 0;
}

li div.attribute-byline p
{
    margin: 0;
}

div.area-main-normal li div.attribute-byline p.author, div.area-main-normal li div.attribute-byline p.date
{
    margin-right: 0.5em;
    float: none;
    display: inline;
}

div.area-sidebar-normal li div.attribute-byline p.replies, li div.attribute-byline p.version
{
    clear: left;
}

div.area-sidebar-normal li div.attribute-byline p.status
{
    float: right;
    clear: right;
}


/* SPECIAL NODES */

div.frontpage-heading h1
{
    font-size: 1.4em;
    color: #f15e22;
    margin: 1em 0 0.75em 0;
}

div.node-view-frontpage div.split
{
    background-image: url(../images/line-vertical.gif);
    background-repeat: repeat-y;
    background-position: center;
}

div.node-view-frontpage div.split-two-right div.attribute-linklist ul
{
    margin-top: 0.5em;
}

div.node-view-products div.split-three-center div.class-banner, div.node-view-services div.split-three-center div.class-banner
{
    margin: 0 -0.70em 0 -0.70em;
    text-align: center;
}

div.node-view-products div.split-three-center, div.node-view-services div.split-three-center
{
    padding: 0 0.70em 0 0.70em;
}

div.node-view-products div.split-three-right div.class-banner, div.node-view-products div.split-sidebar div.class-banner, div.node-view-services div.split-three-right div.class-banner, div.node-view-services div.split-sidebar div.class-banner
{
    text-align: right;
}

div.node-view-products div.template-object, div.node-view-services div.template-object
{
    padding-bottom: 0.5em;
}

div.node-view-community div.sectionheader h1
{
    font-size: 1em;
    font-weight: bold;
    color: #434343;
    background-color: #d5d5d5;
    margin-top: 2em;
    padding: 0.25em 0.5em 0.25em 0.5em;
}

div#main div.node-view-community div.sectionheader h1 a
{
    color: #434343;
}

div#main div.node-view-community h3 a:hover
{
    color: #000000;
}

div.node-view-community div.article-list
{
    border-top: 1px solid #eaeaea;
}

div.article-listitem
{
    padding: 0.25em 0.5em 0.25em 0.5em;
    border-bottom: 1px solid #eaeaea;
}

div.article-list p
{
    margin: 0.25em 0 0.25em 0;
}

div.article-list div.attribute-byline
{
    margin: 0;
}

div.node-view-forum table.forum
{
    margin-top: 1em;
}

div#main div.content-view-list h3 a:hover
{
    border-color: #f15e22;
    text-decoration: none;
}


/* RENDERED CONTENT */

table.renderedtable
{
    width: 100%;
    margin: 0;
    padding: 0;
}

table.renderedtable th
{
    white-space: normal;
}

table.renderedtable th p
{
    margin: 0;
}

table.renderedtable td
{
    padding: 0 0.75em 0.25em 0;   
}


div#main div.image a, div#main div.attribute-image a
{
    border: none;
}


/* ARTICLE */

div.area-docmain-normal table.renderedtable, div.area-docmain-normal table.renderedtable td
{
    border-color: #eaeaea;    
}

table.renderedtable td
{
    padding: 0.25em;    
}


/* COMMENTS */

div.class-article div.content-view-children
{
    margin-top: 3em;
    padding-top: 1em;
}

div.class-comment div.bglight, div.class-comment div.bgdark
{
    padding: 0.5em 0.5em 1em 0.5em;
    border-bottom: 1px solid #eaeaea;
}

div.class-comment div.bglight
{
    background-color: #fafafa;
}

div.class-comment div.bgdark
{
    background-color: #f2f2f2;
}

div.class-comment div.content-view-line
{
    margin-bottom: 0;
}

div.class-comment h1
{
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eaeaea;
}

div.class-comment div.attribute-heading h1
{
    border: none;
}

div.class-comment div.bglight h2, div.class-comment div.bgdark h2
{
    margin-top: 0;
}

div.content-view-line div.class-comment div.button-edit
{
    float: right;
}


/* PRODUCT */

div.content-view-full div.class-product div.attribute-image
{
    margin: 0.25em 1.5em 0.5em 0;
    float: left;
}

div.attribute-price
{
    font-weight: bold;
    margin-bottom: 0.5em;    
}

input.button-addtobasket
{
    margin-top: 0.5em;
}


div.content-view-line div.class-product div.attribute-image
{
    margin: 0.25em 1.5em 0.5em 0;
    float: left;
}


h1 span.itemcount, h2 span.itemcount
{
    font-size: 0.7em;
}


/* SHOPPING BASKET */

table.shop-basket
{
    width: 100%;
    border-bottom: 1px solid #eaeaea;
}

table.shop-basket th, table.shop-basket td
{
    padding: 0.25em 0.5em 0.25em 0.5em;
    vertical-align: top;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #eaeaea;
}

table.shop-basket th
{
    font-weight: bold;
    color: #434343;
    background-color: #d5d5d5;
    text-align: left;
    white-space: nowrap;
}

table.shop-basket tr.bglight-sub td, table.shop-basket tr.bgdark-sub td
{
    border-top: none;
}

table.shop-basket tr.bglight, table.shop-basket tr.bglight-sub
{
    background-color: #fafafa;
}

table.shop-basket tr.bgdark, table.shop-basket tr.bgdark-sub
{
    background-color: #f2f2f2;
}

table.shop-basket div.shop-option
{
    margin: 0.5em 0 0.25em 0;    
}

table.shop-basket tr.sum th
{
    background-color: transparent;
    text-align: right;
}

table.shop-basket td.quantity
{
    text-align: center;
}

div.shop-progress ul
{
    margin: 2em 0 0.5em 0;
}

div.shop-progress ul li
{
    margin: 0 0.75em 0 0;
    padding-left: 16px;
    list-style-type: none;
    background-image: url(../images/linklist-bullet.gif);
    background-position: 0 0.35em;
    float: left;
}

div.shop-confirmorder div.split h2
{
    margin-top: 0;
}

div.shop-confirmorder div.split label
{
    width: 8em;
    float: left;
    clear: left;
}


/* AD BANNER */

div.class-banner
{
    margin: 0.75em 0 0.75em 0;
}

div#main div.class-banner a
{
    border: none;
}

div.split div.class-banner
{
    margin: 0;
}

div.node-view-products div.split, div.node-view-services div.split
{
    margin: 0.75em 0 0.75em 0;
}


/* FORUM */

table.forum
{
    margin-top: 0em;
    border-top: 1px solid #eaeaea;
}

table.forum tr.bglight:hover, table.nohighlight tr.bglight:hover
{
    background-color: #fafafa;
}

table.forum tr.bgdark:hover, table.nohighlight tr.bgdark:hover
{
    background-color: #f2f2f2;
}

table.forum tr.bglight:hover td, table.forum tr.bgdark:hover td, table.nohighlight tr.bglight:hover td, table.nohighlight tr.bgdark:hover td
{
    border-color: #ffffff;
    border-bottom-color: #eaeaea;
}

table.forum td.info
{
    width: 20%;
}

table.forum td.message
{
    width: 79%;
}

table.forum td.buttons
{
    width: 1%;
    text-align: center;
}

div.button
{
    margin: 0.25em 0 0.25em 0;
}

table.forum td p.author, table.forum td p.date
{
    font-weight: bold;
    color: #333333;
}

table.forum pre
{
    border-style: dashed;
}

table.forum tr.bglight pre
{
    background-color: #ffffff;    
}   

table.forum tr.bgdark pre
{
    background-color: #ffffff;    
}

div#main table.forum td.buttons a
{
    border: none;
}

table.forum p.membersince, table.forum p.posts
{
    font-style: italic;
}

div.attribute-signature
{
    border-top: 1px dashed #d2d2d2;
}

div.class-forummessage div.pagenavigator
{
    margin: 0;
    padding: 0;
    background-color: #d5d5d5;
}

div.class-forummessage div.pagenavigator p
{
    color: #ffffff;
    margin: 0;
    padding: 0.25em 0.25em 0.4em 0.25em;
}

div#main div.class-forummessage div.pagenavigator span a
{
    border-bottom-color: #434343;
}

div.class-forummessage table.forum
{
    margin-bottom: 0;
}


/* CONTRIBUTION */

h2 span.status
{
    font-size: 0.7em;
}

div.class-contribution table.list
{
    margin-top: 0;
}


/* BUGS */

div.bug-searchparameters select
{
    width: 15em;
}

td.bug-priotity
{
    text-align: center;
}

td.bug-pri5
{
    background-color: #cd6a6a;
}

td.bug-pri4
{
    background-color: #cd9f6a;
}

td.bug-pri3
{
    background-color: #cdcd6a;
}

td.bug-pri2
{
    background-color: #6acd6a;
}

td.bug-pri1
{
    background-color: #7a7bd2;
}

div.class-bugcomments h2
{
    font-size: 1em;
    font-weight: bold;
    color: #434343;
    margin-top: 0;
}

div.class-bugcomments div.bglight, div.class-bugcomments div.bgdark
{
    padding: 0.5em 0.5em 0 0.5em;
    border-bottom: 1px solid #eaeaea;
}


/* EMPLOYEE */

div.class-employee div.attribute-image
{
    float: left;
}

div.class-employee div.attribute-heading, div.class-employee div.attribute-short, div.class-employee div.attribute-long
{
    margin-left: 205px;
}
div.class-employee div.attribute-heading h2
{
    margin-bottom: 0.5em;
    clear: none;
}

div.class-employee div.attribute-short
{
    font-weight: bold;
    color: #333333;
}


/* SURVEY */

div.survey-view-full label
{
    white-space: normal;
}

div.survey-view-full div.block
{
    margin-bottom: 1em;
}

div#main div.survey-view-full div.element label
{
    font-weight: normal;
    color: #000000;
}

/* EMBED IMAGE CAPTION */

div.attribute-caption
{
    text-align: center;
    margin: 1.5em 0 1.5em 0;
}

div.attribute-caption p
{
    margin-top: 1em;
    font-style: italic;
    color: #404040;
}

/* Third level navigation */

ul#thirdlevel-menu
{
    list-style: none;
}

ul#thirdlevel-menu li.section-header
{
    background-image: none;
    margin-left: 0;
    padding-left: 0;
}

ul#thirdlevel-menu li.separator
{
    background-image: none;
    margin-left: 0;
    padding-left: 0;
}

ul#thirdlevel-menu li.thirdlevel
{
    margin-left: 1.2em;
}


ul#thirdlevel-menu li.seperator
{
    background-image: none;
    padding: 0;
}

ul#thirdlevel-menu li a#selected
{
    font-weight: bold;
}

ul#thirdlevel-menu li.level1
{
    margin-left: 1.2em;
}