/* DOC CSS - th[eZ]20051205 */

div.area-docmenu-normal
{
    float: left;
    clear: left;
    width: 34%;
}

div.area-docmain-normal
{
    float: right;
    clear: right;
    width: 65%;
}

div#contentmenu a
{
    border-bottom: none;
}


div#contentmenu h3 a, div#contentmenu h4 a
{
    color: #333333;
    text-decoration: none;
}

div#contentmenu ul a
{
    font-size: 1.1em;
    color: #333333;
    text-decoration: none;
    padding: 0 0.25em 0 0.25em;
}

div#contentmenu a:hover
{
    color: #000000;
    text-decoration: none;
}

div#contentmenu div.boxcontent
{
    padding: 0 0 16px 0;
    overflow: auto;
} 

div#contentmenu div.boxcontent-text
{
    padding: 0;
} 

map#contentstructure ul li a
{
    border: none;
}

map#contentstructure ul
{
    margin: 0;
    padding: 0;
}

map#contentstructure ul ul
{
    margin: 0.25em 0 0 0.5em;
}

map#contentstructure ul ul ul
{
    margin: 0 0 0 1em;
}

map#contentstructure li
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-image: url(../images/left-line.gif);
    background-repeat: repeat-y;
    background-position: left;
    white-space: nowrap;
}

map#contentstructure ul ul div
{
    color: #000000;
    text-decoration: none;
    padding: 2px 0 2px 0;
}

map#contentstructure li div a
{
    text-decoration: none;
    padding: 0 2px 0 4px;
}

map#contentstructure li.topchapter, map#contentstructure li.topchapter-selected
{
    font-weight: bold;
    margin: 0.5em 0 0.5em 0;
    padding-left: 10px;
    background-image: url(../images/linklist-bullet.gif);
    background-repeat: no-repeat;
    background-position: 0 0.4em;
}

map#contentstructure li.topchapter-selected a
{
    color: #333333;
}

map#contentstructure li.currentnode a:hover
{
    color: #ffffff;
    background-color: #f15e22;
}

map#contentstructure li.topchapter-selected li a
{
    font-size: 1em;   
    color: #6a6a6a;
    background-color: #ffffff;
    font-weight: bold;
}

map#contentstructure li.topchapter-selected li a:hover
{
    color: #ffffff;
    background-color: #f15e22;
}

map#contentstructure li.topchapter-selected li li a
{
    font-size: 1em;
    color: #000000;
    font-weight: normal;
}

map#contentstructure li.topchapter-selected a:hover
{
    color: #ffffff;
    background-color: #f15e22;
}

map#contentstructure li
{
    font-weight: normal;
}

map#contentstructure li ul div
{
    background-image: url(../images/left-item.gif);
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 8px;
}

map#contentstructure li div.first
{
    background-image: url(../images/left-corner-top.gif);
    background-repeat: no-repeat;
    background-position: top left;
}

map#contentstructure li.last
{
    background-image: url(../images/left-corner-end.gif);
    background-repeat: no-repeat;
    background-position: top left;
}

map#contentstructure li.currentnode a, map#contentstructure li.topchapter-selected li.currentnode a
{
    font-weight: bold;
    color: #000000;
    background-color: #e0e0e0;
}

map#contentstructure li.topchapter-selected li.currentnode ul a
{
    font-weight: normal;
    color: #000000;
    background-color: #ffffff;
}

map#contentstructure li div a:hover, map#contentstructure li.topchapter-selected li.currentnode ul a:hover
{
    color: #ffffff;
    background-color: #f15e22;
    text-decoration: none;
}

div#quicklinks li a, div#quicklinks li span
{
    font-size: 1em;
    color: #333333;
}

div#quicklinks li span.modified
{
    font-size: 0.85em;
    color: #a1a1a1;
    margin-left: 12px;
    display: block;
}

div#quicklinks h4
{
    font-size: 1.1em;
    color: #333333;
    margin: 0.5em 0 0.25em 1em;
}

div#quicklinks h4 a
{
    margin: 0.5em 0 0.5em 0;
    font-weight: bold;
}

div#quicklinks ul
{
    margin: 0.25em 0 0.75em 0;
    padding: 0;
}

div#quicklinks li
{
    list-style-type: none;
    margin: 0;
    padding: 2px 0 2px 13px;
    background-image: url(../images/linklist-bullet.gif);
    background-repeat: no-repeat;
    background-position: 0.1em 0.5em;
    white-space: nowrap;
}

div#quicklinks li a
{
    padding: 0;
}

div.pageinfo
{
    font-size: 0.85em;
    background-color: #fafafa;
    margin-top: 2em;
    padding: 0.25em;
    border: 1px dashed #f2f2f2;
}

div.pageinfo div.created
{
    float: left;
}

div.pageinfo div.modified
{
    float: right;
}

div.pageinfo div.authors
{
    clear: both;
}

div.pageinfo p
{
    margin: 0.25em;   
}

div.pageinfo label
{
    color: #434343;
    display: block;
} 

div#comments
{
    padding: 0 1em 0 1em;
}

div#comments div.content-view-line
{
    margin-bottom: 0;
}

div.content-view-line div.attribute-byline
{
    margin: -0.75em 0 1.25em 0;
}

div#comments-content ul
{
    margin: 0;
    padding: 0;
}

div#comments-content ul ul
{
    margin-top: 0.5em;
    border-top: 1px solid #eaeaea;
}

div#comments-content li
{
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #eaeaea;
    list-style-type: none;
}

div#comments-content div.padding
{
    padding: 0.49em; /* Fix for strange Opera bug */
}

div#comments-content li.comment-bglight
{
    background-color: #fafafa;
}

div#comments-content li.comment-bgdark
{
    background-color: #f2f2f2;
}

div#comments-content li li
{
    background-image: url(../images/doc-comment-indent.gif);
    background-position: left;
    background-repeat: repeat-y;
    padding-left: 0.75em;
}

div#comments-content h2
{
    margin-top: 0.1em;
}

div#comments-content div.commentinfo
{
    font-size: 0.85em;
}

div#comments input.button
{
    margin: 0.75em 0 0.25em 0;
}

div#comments div.toolbar
{
    font-size: 1em;
    color: #656565;
    padding-top: 0.25em;
}

div#comments div.toolbar p
{
    font-style: italic;
    display: inline;
    vertical-align: top;
}

div#comment-reply
{
    background-color: #f7f7f7;
    margin: 1em 0 1.5em 0;
    padding-bottom: 0.75em;
    border: 1px solid #e1e1e1;
}

div#comment-reply div#comments-content
{
    padding: 0.25em 0.5em 0.4em 0.5em;
}

div#main h2 a.toplink
{
    background-image: none;
    float: right;
    margin-top: 0.1em;
    padding: 0;
}

pre.pfix
{
    white-space: normal;
    position: relative;
}

pre.pfix p
{
    white-space: pre;
    /*margin: -1em 0 0 0;*/
    margin: 0 0 0 0;
}

table.renderedtable
{
    width: 100%;
    margin: 1em 0 1em 0;
    border-top: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
}

table.renderedtable th, table.renderedtable td
{
    padding: 0.25em 0.5em 0.25em 0.5em;
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    text-align: left;
    vertical-align: top;
}

table.renderedtable th
{
    font-weight: bold;
    color: #434343;
    background-color: #d5d5d5;
    white-space: nowrap;
}

table.renderedtable td
{
    font-weight: normal;
}

table.renderedtable tr.bglight
{
    background-color: #fafafa;
}

table.renderedtable tr.bgdark
{
    background-color: #f2f2f2;
}

div.object-center
{
    text-align: center;
    margin: 1.5em 0 1.5em 0;
}

div.object-center p
{
    margin-top: 1em;
    font-style: italic;
    color: #404040;
}

div.output
{
    margin: 0.75em 0 0.75em 0;
    padding: 0 0.5em 0 0.5em;
    border: 1px solid #e0e0e0;
    background-color: #fdfdfd;
}

div.output table.renderedtable, div.output table.renderedtable th, div.output table.renderedtable td
{
    border: none;
    background-color: transparent;
}

div.output table.renderedtable
{
    margin: 0.5em 0 0.5em 0;
}

div.output table.renderedtable th, div.output table.renderedtable td, div.output table.renderedtable p
{
    margin: 0;
    padding: 0.1em 1em 0.1em 0;
}

div.output p
{
    color: #7c7c7c;
}

p.copytoclipboard
{
    font-size: 0.85em;
    margin: -2.75em 0.2em 1em 0.2em;
    float: right;
    position: relative;
}

p.copytoclipboard img:hover
{
    cursor: pointer;
}

p.copytoclipboard a
{
    color: #9f9f9f;
}

div.twocolumns
{
    clear: both;
    margin: 0;
}

div#main div.twocolumns h2
{
    margin-top: 0.5em;
}

div.twocolumns ul
{
    margin: 0 0 1em 0.35em;
}

div.twocolumns div.leftcolumn
{
    float: left;
    clear: left;
    width: 48%;
}

div.twocolumns div.rightcolumn
{
    float: right;
    clear: right;
    width: 48%;
}

ul.reference-anchors
{
    margin: 0 0 1.5em 0;
    border-bottom: 1px solid #ffffff;
}

ul.reference-anchors li
{
    display: block;
    float: left;
    width: 28%;
}

ul.reference-anchors li a
{
    background-image: url(../images/page_anchor-bullet.gif);
    background-position: 100% 0.4em;
    background-repeat: no-repeat;
    padding-right: 14px;
}

div.warning
{
    margin-bottom: 1em;
    padding: 0;
    border: 1px solid #c45151;
}

div#main div.warning h2
{
    color: #ffffff;
    background-color: #c45151;
    margin: 0;
    padding: 0.25em;
    border-bottom: none;
}

div.pagenavigator span.pages
{
    display: block;
    text-align: center;
}

table.indented-table
{
    margin-left: 2.5em;
    width: auto;
}

div.area-docmenu-normal h2
{
    font-size: 1.2em;
    font-weight: bold;
}

div.twocolumns div div.template-design ul li
{
    border-bottom: 1px solid #ffffff;
}

/* eZ Components */
div.figure p.caption
{
    color: #f06020;
}

div#ezp5disclaimer
{
    padding: 0.5em;
    margin-bottom: 5px;
    background-color: #FEE7BD;
    border-radius: 3px;
    background: #FEE7BD url(../images/disclaimer-icon.png) no-repeat left center;
}


div#ezp5disclaimer p
{
    margin-left: 55px;
}
