/* PRINT CSS - th[eZ]20070125 */

h1, h2, h3, h4, h5, h6, a
{
    color: #000000 !important;
    padding-left: 0 !important;
}

div#page-width1, div#page-width2, div#page-width3, div#page-width4, div#page-width5, div#page-width6, div.area-docmain-normal
{
    width: auto;
}

div#logo
{
    background-image: none;
    position: static;
}

div#logo h1 a
{
    height: auto;
    width: auto;
}

div#logo h1 a span.hide
{
    display: block;
}

div#searchbox, div#usermenu ul, div#mainmenu, div#submenu, div#path, div#footer, div.area-docmenu-normal
{
    display: none;
}

body, div#page, div#header, div#header-insert, div#main
{   
    background: none;
    margin: 0;
    padding: 0;
}

div#header-insert
{
    height: auto;
    background: none;
}

div#main
{   
    margin-top: 4em;;
}

div.area-main-normal, div.area-sidebar-normal
{
    float: none;
    width: auto;
}

div.float-insert
{
    float: none;
}

div.template-object, div.area-main-wide-padding
{
    padding: 0;
}

div.template-design, div.template-module, div.template-object
{
    background-image: none;
}

input.button
{
    color: #000000;
    background-color: #e0e0e0;
    background-image: none;
}

div#footer-design
{
    border: none;
}