
/* Custom styles for Confluence (included for all themes by default) */

                
/* Hide Children and Likes from page footers */ 
div#likes-section, div#children-section { 
display: none; 
} 
   
/* Override default panel background colors */ 
#content .panel { 
 background-color: #fff; 
} 
.panelHeader { 
 background-color: #ddd; 
} 
   
/* Change column layout for three column section with sidebars */ 
.wiki-content .columnLayout .cell.sidebars { 
 width: 10%; 
} 
    
.three-with-sidebars div.cell + div.cell + div.cell { 
 width: 30%; 
} 
   
   
/* Differentiate link for tooltip (from Tooltip addon) from normal link */ 
.wiki-content a.link-tooltip, .wiki-content a:link.link-tooltip, .wiki-content a:visited.link-tooltip, .wiki-content a:active.link-tooltip { 
 text-decoration: none; 
 border-bottom: 1px dotted #808080; 
 color: #808080; 
 cursor: help; 
}  

/* Grey out all content - space deprecated */
#content * {  
color: #b0b0b0;  
}  

h1#title-text, h1#title-text a {  
color: #b0b0b0;  
}  

#splitter-sidebar .plugin_pagetree li a {  
 color:#b0b0b0;  
}  
  
#splitter-sidebar h4, #splitter-sidebar a, #splitter-sidebar p {  
 color:#b0b0b0;  
}  

/* End custom styles for Confluence */


