/* module-key = 'com.atlassian.confluence.editor:editor-content-styles', location = 'com/atlassian/confluence/tinymceplugin/editor-content.css' */
html,body.wiki-content{height:100%;}
html{*height:auto;}
html{*height:auto;}
body.editor-comment{height:auto;margin:0;padding:0;}
body.fullsize{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;border:0;padding:10px 0;margin:0 10px;}
html.insert-wiki-markup-dialog{height:96%;}
html.insert-wiki-markup-dialog,body.previewWiki{overflow:auto;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
body.wiki-content.previewWiki{background:#fff;height:100%;padding:10px;}
img.emoticon{vertical-align:text-bottom;}
#autocomplete{background-color:#eee;border:solid 1px #ddd;}
#autocomplete-trigger{background-color:#ddd;padding:0 2px;}
#autocomplete-search-text{padding:0 4px 0 2px;}
.mceContentBody{border:none;text-align:left;background:#fff;}
.mceContentBody .wysiwyg-macro-body-preformat{border:#ccc solid 1px;margin:5px 20px;}
.mceContentBody .wysiwyg-macro-inline{display:inline;}
.mceContentBody .user-new-line,.mceContentBody .wysiwyg-macro-body-newline{display:none;line-height:0;}
.macro span.macro-name{background-color:#f0f0f0;padding:4px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.mceContentBody{border:none;text-align:left;background:#fff;}
.mceContentBody .wysiwyg-macro-body-preformat{border:#ccc solid 1px;margin:5px 20px;}
.mceContentBody .wysiwyg-macro-inline{display:inline;}
.mceContentBody .user-new-line,.mceContentBody .wysiwyg-macro-body-newline{display:none;line-height:0;}
.macro span.macro-name{background-color:#f0f0f0;padding:4px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.wysiwyg-macro{background-color:#f0f0f0;background-repeat:no-repeat;background-position:0 0;border:1px solid #ddd;}
.wiki-content .wysiwyg-macro{width:100%;padding:24px 2px 2px 2px;}
.wiki-content .wysiwyg-macro-body{background-color:#fff;border:1px solid #ddd;margin:0;padding:10px;}
.wysiwyg-unknown-macro{vertical-align:text-bottom;}
p+table.wysiwyg-macro,table.wysiwyg-macro+p{margin-top:10px;}
.mceContentBody ol{*margin-left:40px;}
.mceContentBody ul{*margin-left:40px;}
.wiki-content .wysiwyg-macro-body>p:first-child{margin-top:0;}
.wiki-content .wysiwyg-macro-body>p:last-child{margin-bottom:0;}
.wiki-content td .wysiwyg-macro-body{min-width:200px;}
.wiki-content .wysiwyg-macro-body>pre{margin:0;white-space:pre-wrap;-moz-tab-size:4;-webkit-tab-size:4;-ms-tab-size:4;tab-size:4;}
.editor-inline-macro{background-color:#f0f0f0;border:1px solid #ddd;min-height:24px;vertical-align:text-bottom;margin:0 2px;}
.editor-inline-macro.with-chrome{background-repeat:no-repeat;background-position:0 0;height:auto;padding:24px 2px 2px 2px;}
.confluenceTh>.editor-inline-macro,.confluenceTh>.wysiwyg-unknown-macro,.confluenceTd>.editor-inline-macro,.confluenceTd>.wysiwyg-unknown-macro{vertical-align:inherit;}
.macro-placeholder-icon{background-image:url(../../../../../../../../../../en_GB-1988229788/4733/f235dd088df5682b0560ab6fc66ed22c9124c0be.12/5.4.4/_/images/icons/macrobrowser/dropdown/placeholder.png);background-repeat:no-repeat;background-position:0 3px;}
.image-hotswap{background-image:url(../../../../../../../../../../en_GB-1988229788/4733/f235dd088df5682b0560ab6fc66ed22c9124c0be.12/5.4.4/_/images/icons/wait.gif);background-repeat:no-repeat;background-position:4px 50%;}
table.layout,table.layout td.layout-cell{border:1px dotted #ccc;}
table.confluenceTable{margin-bottom:0;}
.wiki-content table tbody td.mceSelected{background-color:#edf5ff!important;}
.wiki-content table tbody td.mceSelected.highlight,.wiki-content table tbody th.mceSelected{background-color:#e0e0e0!important;}
.wiki-content table tbody th.mceSelected.nohighlight{background-color:#edf5ff!important;}
.wiki-content table tbody td.mceSelected.info,.wiki-content table tbody th.mceSelected.info,.wiki-content table tbody td.mceSelected.highlight-blue,.wiki-content table tbody th.mceSelected.highlight-blue{background-color:#d3e3f7!important;}
.wiki-content table tbody td.mceSelected.success,.wiki-content table tbody th.mceSelected.success,.wiki-content table tbody td.mceSelected.highlight-green,.wiki-content table tbody th.mceSelected.highlight-green{background-color:#d3f4cc!important;}
.wiki-content table tbody td.mceSelected.warning,.wiki-content table tbody th.mceSelected.warning,.wiki-content table tbody td.mceSelected.highlight-red,.wiki-content table tbody th.mceSelected.highlight-red{background-color:#f3dada!important;}
.wiki-content table tbody td.mceSelected.note,.wiki-content table tbody th.mceSelected.note,.wiki-content table tbody td.mceSelected.highlight-yellow,.wiki-content table tbody th.mceSelected.highlight-yellow{background-color:#f6f7ca!important;}
.wiki-content .confluence-embedded-image{cursor:default;}
.wiki-content table.wysiwyg-macro{border-collapse:separate;}
.wiki-content .highlight-marker{background-color:#FEEECD;}
.wiki-content.show-eol-markup p:after,.wiki-content.show-eol-markup h1:after,.wiki-content.show-eol-markup h2:after,.wiki-content.show-eol-markup h3:after,.wiki-content.show-eol-markup h4:after,.wiki-content.show-eol-markup h5:after,.wiki-content.show-eol-markup h6:after,.wiki-content.show-eol-markup li:after{content:" \00B6";color:#777;}
.wiki-content table.wysiwyg-macro{*border:5px solid #f0f0f0;*background-color:#fff;*background-repeat:no-repeat;*padding:0;}
.wiki-content td.wysiwyg-macro-body{*background-color:transparent;*border:0;*padding:30px 6px 6px 6px;}
.find-current{position:relative;padding:2px;margin:-2px;background-color:#ffde00;box-shadow:0 2px 2px #ccc;-moz-box-shadow:0 2px 2px #ccc;-webkit-box-shadow:0 2px 2px #ccc;border-radius:5px;}
/* module-key = 'com.atlassian.confluence.editor:editor-content-styles', location = 'tinymce3/plugins/atlassian/plugins/iosediting/css/iosediting.css' */
body.ios{min-height:150px;}
/* module-key = 'com.atlassian.confluence.editor:editor-content-styles', location = 'tinymce3/plugins/draggable/draggable.css' */
table.draggable{margin-left:-10px;margin-top:-10px;}
table.draggable:hover>tbody>tr>td.draggable-table,table.draggable:hover>tbody>tr>td.draggable-column,table.draggable:hover>tbody>tr>td.draggable-row{background-color:#777;border-top:1px solid #777;border-left:1px solid #777;}
table.draggable:hover>tbody>tr>td.draggable-table,table.draggable:hover>tbody>tr>td.draggable-column{border-right:1px solid #aaa;}
table.draggable:hover>tbody>tr>td.draggable-table,table.draggable:hover>tbody>tr>td.draggable-row{border-bottom:1px solid #aaa;}
td.draggable-table,td.draggable-column,td.draggable-row{background-color:transparent;border-top:1px solid transparent;border-left:1px solid transparent;cursor:move;}
td.draggable-table,td.draggable-column{border-right:1px solid transparent;}
td.draggable-table,td.draggable-row{border-bottom:1px solid transparent;}
td.draggable-column{height:10px;}
td.draggable-row{width:10px;}
.wiki-content img.confluence-embedded-image,.wiki-content img.editor-inline-macro,.wiki-content table.wysiwyg-macro{cursor:move;}
.wiki-content table.wysiwyg-macro>tbody>tr>td.wysiwyg-macro-body{cursor:text;}
#move-indicator{font-weight:normal!important;}
/* module-key = 'com.atlassian.confluence.editor:editor-content-styles', location = 'tinymce3/plugins/placeholder/placeholder.css' */

/* module-key = 'com.atlassian.confluence.confluence-editor-hide-tools:confluence-editor-hide-tools-iframe-resources', location = '/css/editor-iframe.css' */
body.no-tools-capable {
    -webkit-transition: padding .3s linear;
    -moz-transition: padding .3s linear;
    transition: padding .3s linear;
}

body.fullsize.no-tools-enabled {
    /* Give the user a little space to select text without triggering DFE. */
    padding: 20px 0;
}

/* module-key = 'com.atlassian.confluence.plugins.status-macro:view_content_status', location = 'css/status-view.css' */
.status-macro{min-width:76px;padding:2px 5px 1px 5px}
/* module-key = 'com.atlassian.confluence.plugins.status-macro:editor_content_status', location = 'css/status-editor.less' */
.wiki-content .aui-lozenge,
#property-panel a.macro-property-panel-Grey span.icon {
  color: #333333;
  background-color: #cccccc;
  border-color: #cccccc;
}
.wiki-content .aui-lozenge.aui-lozenge-subtle,
#property-panel a.macro-property-panel-Grey span.icon.aui-lozenge-subtle {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.wiki-content .aui-lozenge-success,
#property-panel a.macro-property-panel-Green span.icon {
  color: #ffffff;
  background-color: #14892c;
  border-color: #14892c;
}
.wiki-content .aui-lozenge-success.aui-lozenge-subtle,
#property-panel a.macro-property-panel-Green span.icon.aui-lozenge-subtle {
  color: #14892c;
  background-color: #ffffff;
  border-color: #b2d8b9;
}
.wiki-content .aui-lozenge-error,
#property-panel a.macro-property-panel-Red span.icon {
  color: #ffffff;
  background-color: #d04437;
  border-color: #d04437;
}
.wiki-content .aui-lozenge-error.aui-lozenge-subtle,
#property-panel a.macro-property-panel-Red span.icon.aui-lozenge-subtle {
  color: #d04437;
  background-color: #ffffff;
  border-color: #f8d3d1;
}
.wiki-content .aui-lozenge-current,
#property-panel a.macro-property-panel-Yellow span.icon {
  color: #594300;
  background-color: #ffd351;
  border-color: #ffd351;
}
.wiki-content .aui-lozenge-current.aui-lozenge-subtle,
#property-panel a.macro-property-panel-Yellow span.icon.aui-lozenge-subtle {
  color: #594300;
  background-color: #ffffff;
  border-color: #ffe28c;
}
.wiki-content .aui-lozenge-complete,
#property-panel a.macro-property-panel-Blue span.icon {
  color: #ffffff;
  background-color: #4a6785;
  border-color: #4a6785;
}
.wiki-content .aui-lozenge-complete.aui-lozenge-subtle,
#property-panel a.macro-property-panel-Blue span.icon.aui-lozenge-subtle {
  color: #4a6785;
  background-color: #ffffff;
  border-color: #e4e8ed;
}
#property-panel a.macro-property-panel-Grey,
#property-panel a.macro-property-panel-Green,
#property-panel a.macro-property-panel-Red,
#property-panel a.macro-property-panel-Yellow,
#property-panel a.macro-property-panel-Blue,
#property-panel a.macro-property-panel-Brown {
  padding: 6px;
  display: inline-block;
}
#property-panel a.macro-property-panel-Grey span.icon,
#property-panel a.macro-property-panel-Green span.icon,
#property-panel a.macro-property-panel-Red span.icon,
#property-panel a.macro-property-panel-Yellow span.icon,
#property-panel a.macro-property-panel-Blue span.icon,
#property-panel a.macro-property-panel-Brown span.icon {
  display: inline-block;
  background-image: none;
  margin: 0;
  border: 0;
  min-width: auto;
  border-radius: 3px;
  width: 16px;
  height: 16px;
}
#insert-menu .macro-status .icon {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB90DBgUQHra5bYQAAADGSURBVDjL7dMxSkNREIXhb967JqAWRgXBQoRgJRa6AhejnY07sHEFbsFF2Ip21hYWNtaSQjBRfMm1SWUG3EAODFMc5py/GZYKlPnONHO1u6lqU7fWScEe1lCT8HfcYoDZn+OeiLv4l/F8uCO0aUGNcTwMXGC40EDTjb2e3qsmNhK/4LlENcJ6FhCMBEKXELT4CMeXW+iniGX1++Tput+Fkvm1+iy+3s5wsEhQG7X3cnRof8p2QriCx4KbOU6mKZr5ZPpZfgK/SqI2J6AKSn8AAAAASUVORK5CYII=) no-repeat center;
}
.editor-inline-macro[data-macro-name='status'] {
  background: transparent;
  border: 0;
  min-height: 16px;
  margin: 0;
  vertical-align: -4px;
}
#property-panel .editable.status-macro-title {
  margin-right: 10px;
  float: none;
  text-transform: uppercase;
  text-decoration: none;
  width: 88px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 11px;
  padding: 0 5px;
}
#property-panel input.editable.status-macro-title {
  outline: none;
  height: 30px;
  line-height: 20px;
  vertical-align: bottom;
  padding-top: 2px;
}

/* module-key = 'com.atlassian.confluence.plugins.confluence-templates:variable-editor-content-styles', location = 'css/variables-editor-content.css' */
/* For variable mark in the editor iframe */

.template-variable {
    border-radius: 5px;
    position: relative;
    top: 3px;
    margin-left: 2px;
    margin-right: 2px;
}

/* Work around different margins for td/th without a <p> */
th > .template-variable,
td > .template-variable {
    top: 1px;
}

ul[data-variable-declarations] {
    display: none !important;
}

/* module-key = 'confluence.extra.attachments:attachments-css', location = 'templates/extra/attachments/css/attachments.less' */
.attachments-container ul.pagination li a{text-decoration:none;}
.attachments-container .attachments-file-extension{margin-bottom:20px;}.attachments-container .attachments-file-extension .label-filter-desc{margin-left:8px;}
.attachments-container .attachments-file-extension .labelFilter{margin-right:15px;}
.plugin_attachments_container{}.plugin_attachments_container .download-all-link{display:inline-block;background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAFVBMVEX///9wcHBwcHBwcHBwcHBwcHBwcHA3RenHAAAAB3RSTlMAEYi7zN3/VyoyVQAAAD1JREFUeNqNyNEKACAIQ9Fmc///ySVUUkF08cGd8p37AdILjAgAbQBVIYHigHjVjygpvdgpc6ds+0yrG35qltUBSh0GXHoAAAAASUVORK5CYII=) no-repeat left center;margin-top:10px;padding-left:20px;}
.plugin_attachments_container .attachment-buttons a.aui-button{color:#333;}
table.attachments{table-layout:fixed;}table.attachments td.attachment-filesize{white-space:nowrap;}
table.attachments thead .expand-column{width:16px;}
table.attachments thead .filename-column{width:75%;}
table.attachments thead .modified-column{width:25%;white-space:nowrap;}
table.attachments tbody .filename-column{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
table.attachments th{}table.attachments th.attachments-comment{white-space:normal;width:auto;}
table.attachments th a:link,table.attachments th a:visited,table.attachments th a:hover,table.attachments th a:active{color:#333;text-decoration:none;}
table.attachments .attachment-summary-toggle{width:16px;padding-right:0;padding-left:0;}table.attachments .attachment-summary-toggle .icon{cursor:pointer;}
.empty-attachment-table{line-height:30px;}
.plugin_attachments_uploadform{text-align:left;width:450px;margin-left:auto !important;margin-right:auto !important;}
.attachments-table-drop-zone{border-radius:10px;-moz-border-radius:10px;border:2px dashed #cccccc;height:auto;width:auto;text-align:center;padding:40px;}.attachments-table-drop-zone .drop-zone-image{background-image:url(../../../../../../../../../../en_GB-1988229788/4733/f235dd088df5682b0560ab6fc66ed22c9124c0be.12/3.6.10/_/download/resources/confluence.extra.attachments/icons/arrow.gif);margin:-1px 5px 2px 2px;height:25px;width:25px;float:left;}
.attachments-table-drop-zone .drop-zone-text{display:inline-block;color:#999;}
.attachments-table-drop-zone .drop-zone-empty-text{color:#707070;font-weight:500;padding-bottom:10px;}
.empty-attachment-text{color:#707070;font-weight:bold;padding-bottom:10px;text-align:center;}
.attachments tbody tr.hovered{background-color:#F0F0F0;}
.attachments tbody tr.focused{background-color:#eaf1fd;}
.attachments .attachment-details-wrapper{padding-left:26px;padding-bottom:20px;}.attachments .attachment-details-wrapper .attachment-labels{font-weight:bold;}
.attachments .attachment-details-wrapper .labels-section-content{margin-bottom:10px;}
.attachments .attachment-details-wrapper th,.attachments .attachment-details-wrapper td{padding-left:0;}
.attachments .attachment-details-wrapper .attachment-buttons{padding-top:10px;}
.attachments .attachment-row{border-top:1px solid #cccccc;border-bottom:none;}.attachments .attachment-row .attachment-comment{display:block;overflow:hidden;text-overflow:ellipsis;}
.attachments .attachment-row .attachment-dropdown-actions .action-dropdown .aui-dd-parent{height:18px;width:25px;position:relative;}.attachments .attachment-row .attachment-dropdown-actions .action-dropdown .aui-dd-parent .aui-dropdown .hide-menu{display:none;}
.attachments .attachment-row .attachment-dropdown-actions .action-dropdown .aui-dd-parent .aui-dropdown li a span{padding-left:8px;padding-right:8px;}
.attachments .attachment-row .attachment-dropdown-actions .action-dropdown .aui-dd-parent .aui-dd-trigger{background:url(../../../../../../../../../../en_GB-1988229788/4733/f235dd088df5682b0560ab6fc66ed22c9124c0be.12/3.6.10/_/download/resources/confluence.extra.attachments/icons/tools_17.png) no-repeat 0% 50%;}.attachments .attachment-row .attachment-dropdown-actions .action-dropdown .aui-dd-parent .aui-dd-trigger:hover{background-color:#3c78b5;color:#fff;cursor:pointer;}
.attachments .attachment-row .attachment-dropdown-actions .action-dropdown .aui-dd-parent .aui-dd-trigger span,.attachments .attachment-row .attachment-dropdown-actions .action-dropdown .aui-dd-parent .aui-dd-trigger:hover span{background:url(../../../../../../../../../../en_GB-1988229788/4733/f235dd088df5682b0560ab6fc66ed22c9124c0be.12/3.6.10/_/download/resources/confluence.extra.attachments/icons/menu_indicator.gif) no-repeat 100% 50%;overflow:hidden;width:25px;height:18px;display:block;}
.attachments .attachment-row .attachment-dropdown-actions .action-dropdown .aui-dd-parent .aui-dd-trigger .hide-icons{display:none;}
.attachments .attachment-row .action-menu{text-align:right;}
.attachments .attachment-row .aui-dropdown2-trigger{color:#707070;text-decoration:none;display:none;}
.attachments .attachment-row .aui-icon-dropdown{border-top-color:#707070;}
.attachments th span.propersortedby{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKBAMAAACQ3rmwAAAAA3NCSVQICAjb4U/gAAAAHlBMVEX///9QYXNQYXNQYXNQYXNQYXNQYXNQYXNQYXNQYXOMgbQDAAAACnRSTlMAESIzRGZ3maq7ZAl7FAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAB50RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNS4xqx9I6wAAAHl0RVh0bmFtZVNldHMAeyBkZXNjcmlwdGlvbjoiRG93bmxvYWQgdGhlIFwiTmFtZWQgU2VsZWN0aW9uIFNldHNcIiBwYW5lbCBmcm9tIGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSIsIGlkOi0xLCBzZXRzOnsgIH0gfVikr5sAAAAVdEVYdENyZWF0aW9uIFRpbWUAMjkvMy8xMlxvLTUAAAAdSURBVAiZY2AIYwAB5pkOIEpiZhOIqpw5nYEUAADZjgQPuazuBAAAAABJRU5ErkJggg==);background-repeat:no-repeat;background-position:right 50%;padding-right:20px;}.attachments th span.propersortedby.descending{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAKBAMAAACQ3rmwAAAAA3NCSVQICAjb4U/gAAAAHlBMVEX///9QYXNQYXNQYXNQYXNQYXNQYXNQYXNQYXNQYXOMgbQDAAAACnRSTlMAESIzRGZ3maq7ZAl7FAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAB50RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNS4xqx9I6wAAAHl0RVh0bmFtZVNldHMAeyBkZXNjcmlwdGlvbjoiRG93bmxvYWQgdGhlIFwiTmFtZWQgU2VsZWN0aW9uIFNldHNcIiBwYW5lbCBmcm9tIGh0dHA6Ly9maXJld29ya3MuYWJlYWxsLmNvbSIsIGlkOi0xLCBzZXRzOnsgIH0gfVikr5sAAAAVdEVYdENyZWF0aW9uIFRpbWUAMjkvMy8xMlxvLTUAAAAdSURBVAiZY2AgGlTOnA6iNGY2giiWmQZg0VQQAQBOSAQedpgI7AAAAABJRU5ErkJggg==);}
.plugin_attachments_table_container{margin-bottom:10px;}
.plugin_attachments_uploadwaiticon{visibility:hidden;}
.plugin_attachments_dropzone_uploadwaiticon{visibility:hidden;}
.attachment-dropdown-actions{width:30px;}
#aui-message-bar{position:fixed;left:50%;max-width:500px;top:10px;}
.attachment-image-preview>img{max-height:150px;max-width:100%;}
.editor-inline-macro[data-macro-name='attachments']{padding:26px 6px 6px 6px;}

/* module-key = 'com.atlassian.confluence.plugins.confluence-inline-tasks:inline-tasks-styles', location = 'css/inline-tasks.css' */
.shortcutsmenu ul.inline-task-list>li{padding-left:22px;background-position:0 3px;margin-left:-17px;}
.wiki-content ul.inline-task-list>li{list-style:none;padding-left:22px;margin-left:-22px;background-repeat:no-repeat;background-size:16px 16px;background-position:0 3px;}
.wiki-content td>ul.inline-task-list>li,.wiki-content th>ul.inline-task-list>li{padding-left:22px;margin-left:-17px;}
ul.inline-task-list img{vertical-align:top;}
ul.inline-task-list .jira-issue,ul.inline-task-list .unknown-jira-issue{margin-top:-3px;margin-bottom:3px;}
ul.inline-task-list .jira-issue,ul.inline-task-list .unknown-jira-issue{margin-top:-3px;margin-bottom:3px;}
.wiki-content ul.inline-task-list>li.checked,.wiki-content ul.inline-task-list>li.checked>*,.wiki-content ul.inline-task-list>li.checked>*>a{color:#707070;}
.wiki-content ul.inline-task-list>li.checked>ul.inline-task-list{color:#333;}
.wiki-content ul.inline-task-list>li.checked>span[style],.wiki-content ul.inline-task-list>li.checked>*>span[style]{color:#707070!important;}
#inline-tasks-notice{position:fixed;display:block;top:0;right:0;left:0;width:30%;margin:15px auto auto auto;z-index:999;padding:5px;text-align:center;}
/* module-key = 'com.atlassian.confluence.plugins.confluence-inline-tasks:inline-tasks-styles', location = 'css/checkboxes.css' */
ul.inline-task-list>li{background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA8ElEQVQ4Ec1SOwqEQAyNn85GRS3Eyis4eBTvIZ5DD+JBrKy1205BkLH3xxphZOOKsJU7MITkvbxkJgF4+kiiAc/z/CzLymVZDBG7soqiDHEcs6ZpXogfAnmec03TDMYYmKYJqqqS/HmegXMORVHANE1DFEUmEmTBwsphGILjOF/JyEFBxIIggM8uSRld1wEr3R3btglMBNZ1JeCVI8tH0zv8s8BZ9M8ExnGEbc7nLom/TYD45Al934NlWYRwdrquI6HjSyVJGqqqAhTBaVxdTK7rGpArVI5NdF3XT9O03IDbVd7wIUkS1rbtvspC6Dn7BkLhZ0vqv9lXAAAAAElFTkSuQmCC');}
ul.inline-task-list>li.hover{background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABAElEQVQ4EcWSOwqDQBCGJ1GsbBIQQcUiZ8gVBMGz2ApewMLWk3gLwZwhICJqExsbX5hMYGUnEZMikIFlmNc3P+wA/Nt2TICmaSff9y9t2x5Ybs3LstwEQXAuy/KK9QUQRdFNkqSDbdvwgIEoimR+HEeoqgriOIZ5nhvXdY/YsGdduNlxHDBN820YexBoGAZYlgW8SrJGURTATVuG6ngjgGmaAN+WCYJAym8AUv0iIIBP8td4vwV0Xbf6A/zmYRj4EIiCoihA13XS8BrkeU5Syx08jqhJkgQQglvYj/A+yzJI0xSwl1GWS1RV9eR53qXv+81TxuEwDM91XT9PmYH+5+9n6G0tfAw1tQAAAABJRU5ErkJggg==');}
ul.inline-task-list>li.task-active{background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA+klEQVQ4EcVSOwqDQBCd+MPCZgP+Wk+g6M0ECw9gIXgmwdacIWCj2EQLKz8QR1hxRTRFwIVhdufz3ht2AO4+DypA13UrCIJX3/eExo68JElNHMdeXddvzK8ASZJ8ZFkmtm0DIQR4nmf6x3GEtm0hz3OYpqnxff+JBRytQmbXdUHTNBBFETiOY2xmXnKO48BWpUAB0Kuqun0e3g3DYOIMADJfnX0NA7Cf+woM8wyAIDDPX/r/DICUV2MMw8AoW78Ro/NyAI5xZmVZHgMoitKkaQpVVS0qUMneiqKALMsAaynKuommaVphGL66rjtdZWyOosibiZZVpkD3+S9rKUbNxwuQjwAAAABJRU5ErkJggg==');}
ul.inline-task-list>li.disabled{background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA5klEQVQ4EcVSMQ6DMAx0UUBIICS6A0rf0JGX8EBewtg3ZICBrUhIMABCjSMlxW2UDh3wYuw7O2dxAGfHRQvI8/xW1/XD9/1U92x5Xdehqqp727YCcbOgaZpnkiRpURQg89fstm0wzzMIIWCapqEsyyuSPM3Elznn1mHkMMYUJpXCUaVZgKQwDDE5I45jgjNSyQKlusLzyJvvE1xDLowo2PfdxbVify8gB/26HyV8cogC+X8hiiKrVN0cx1F/qmwUoMP6vkeTEMKxwGHkIFf3jROzLFNWDoLAaeVlWZSVu65TVtaLzssvLOpSQnS3q6kAAAAASUVORK5CYII=');}
ul.inline-task-list>li.checked{background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB10lEQVQ4EcVSz0sbQRT+8sO2YQnJmk02uzY9eCplvfVf6J/gHyBIIVCwRkF7FKSoNPXQQ4tWjAU1oocIuUi1EUFPEcGTBzVVNHrQTWp6SExmpzuLM3Rp8eqDx3sz7/u+eW9mgAe0bsMwih7egN7R0fkxnS5SSmW+979Yq9UqqVRqudFodMuyvCsEstms+ejxE/n5CwORmAq/z+fitwjBydEhvk59Rj6fR71eXzdN85WXo4hFHXI0rsPr9cGicPnNTQ2ZuQxyuRw0TQMjM64QYAtZUWFZ5B8/Oz/H3OwMfmx8RyKRQDKZZHDHXAKEUjQJhSoHMfC2D+WLS5R+nmL+WwYT70chBQJYXStAkiTOh19kdmKP4Sx7el9jf28XszPToJaFna0CuroMfMksCAzniQ689nUSYjn+pn8IqqZje3MDK0uLDpaRI0rMqXMyi0KAHd6yT2MeDIcxMj6JSDQGXYtj4tMUQu2KqN816ui4RmjcNuG7ez4pGMK7kXH8qprQnj5Dy+6OGbGf829zCVSvrxBWoqKuqCqYE7srblXzmqdOFAJNikq5dCDD44EUYkFMJwi/K1ewMWBYvil+YlzTO8c+pIttHtz7lRl5eHDg5eVF+ZiLPGz8A3oPzeM2AZRyAAAAAElFTkSuQmCC');}
ul.inline-task-list>li.checked.hover{background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB50lEQVQ4EcVSS0gbURQ9k0Q7pAYdkyYTxw+4jjsXgiBIsbssXXZTSndiXWhEuii0UkPQKHalGIKWSHHVTTcNMa0bKRERoQiKRloHlDBpba3OJzPOG3mjo+LWC4fHu/ecw733PeAeozcSiRQY2gAfDrfGhkcK8ukJR3O3napmlONjo0uyLPdyHLdmGySnpiUvW811dD1GMBSGp8rj0Guqhp3tLbxPJvA1n4eiKFlJknpclHX2/x/X2f0EfEMjXG43dN1w4PjvMTIfFpDL5SAIAoiYaG0DcvHVByFr+g3s//yFdGoOy9kvaG5qQjQaJXQrbAOGYaBWdChaBc1+L2IDfTgQRewVi8gspDH+7g0eell8/JwHy7JUD8egimlA4umzF/ixsYb51Kw5ho7VlWW0tUWQnMuAcqiD3QFJmBu28Lw/hgAv4Pu3LD4tZcAYOhIzi6itD1l1Kianw4C0T+D11WHo7QS4QAhCmMfr5Cx8nN+qkfrVcIxwJqtweS5SbE0d+l6N4c9vCY+EFrN1w9LpmnZVf7kDwzBQOhRRG2y0CT4/DwJZvdgNKUjiPgiXxuUIVWx5Z30F5aMD6zXIi1xHSSxib3MVMLnUwP6JgWCo9eVgrODW5Du/csXzoDyZiLeXjg53qcn9nue/h+Xs/cUfJAAAAABJRU5ErkJggg==');}
ul.inline-task-list>li.checked.task-active{background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAB1UlEQVQ4EWNgGEAQqqOjc4YR5gBRMXGl4tLSM////BaEiWGjv33//r6nu2f17z+/Q4UEBc/CDejo7nnHwc4uKK+mx8DNz8/AwsKCov/Pnz8Mr54+YdiwchHDkcOHGH79+rXn3bt3rkwwVSCblbQMGfiFhTE0g9R8//aNYdOGNQz79+1jkJaWZgBpBonDDQBxBIVFGFiBNqPjj+/eM2zftI7h7MljDAoK8gw+Pj4g5WCAYgBMo62hBkNfWyPDpw/vGd6+esmwffNahnnTJzEI8PEyTF2wkoGDgwOmnwHuUUZGRqDNzGCJqLgEhptXLzOsX7WM4f///wynjh9l0NXVZWjvnwZWA1ILAyguYGFmZgDhjJxCBhExCYbzp44xbN24joEZqKp78iwGcQlJsDxMM4hGMYCNlZkBhEVFRRga27oYhEVEGaSlJBm6J0xlkJSUAMuB5JEB3Atgwf//gDHACmYKA2OjtqmN4QMwHBQUleB6/vz5DWeDGCgGfHz3hkFCShauQFZWjgGEkcGLp4+RuQgvsLNzvj9x7AjD29cvgP4EBijQqej4xbPHDGeB4QJSCzMFHpwSEpJK5eUVZ378+IY3KXNwcL3v7OwwefHi+T2YIQNLAwA3QI2huMdHdgAAAABJRU5ErkJggg==');}
ul.inline-task-list>li.checked.disabled{background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABhUlEQVQ4EcWSv4rCQBDGv9NTIhrFVEFEIc9wnUUar7GwEKwsfISAzT2DD5I0eQGLqyQRiwQLC0HhLLQTTwQRLdTL7LFLVg6Lu+IGlt3MzvebP1ngj/b0W71hGO1Go/EmAJVKxXAcJ0ilUsVH0P1+v+v3+261Wm0fj8dQADzP+8xms0Vd16GqKpLJpMS5XC7YbrcYDoeYTqdYLpfvruu+PvMoylwqlZDP57lL2s/nM0ajESaTCTRNA4kpQADoI6oAlOneorIRhiFmsxkTm6YpQhLiFB1utxtbvV6PMoCEVPZ4PMZgMEA6nYZlWWznOqmC6/XK/LVaDavVCr7vM+BisQC11+12wWM4QKqAO+v1OgqFAubzOYIgYBAS/zQfCUD908pkMmi1WsjlcgzU6XTEfO5nJLVAl4nEN1NRFDSbTUT/mkFoPmT3LUiAw+HAsvJW6D3QiosIGDfRwul02tHEKSAuiAfT3WazAcVyv3iJ5XLZsG07iEp/+JRJHM3kZb1ef3DI/+5f5sKysL0yhGkAAAAASUVORK5CYII=');}
.content-preview ul.inline-task-list>li{background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA5klEQVQ4EcVSMQ6DMAx0UUBIICS6A0rf0JGX8EBewtg3ZICBrUhIMABCjSMlxW2UDh3wYuw7O2dxAGfHRQvI8/xW1/XD9/1U92x5Xdehqqp727YCcbOgaZpnkiRpURQg89fstm0wzzMIIWCapqEsyyuSPM3Elznn1mHkMMYUJpXCUaVZgKQwDDE5I45jgjNSyQKlusLzyJvvE1xDLowo2PfdxbVify8gB/26HyV8cogC+X8hiiKrVN0cx1F/qmwUoMP6vkeTEMKxwGHkIFf3jROzLFNWDoLAaeVlWZSVu65TVtaLzssvLOpSQnS3q6kAAAAASUVORK5CYII=');}
.content-preview ul.inline-task-list>li.checked{background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABhUlEQVQ4EcWSv4rCQBDGv9NTIhrFVEFEIc9wnUUar7GwEKwsfISAzT2DD5I0eQGLqyQRiwQLC0HhLLQTTwQRLdTL7LFLVg6Lu+IGlt3MzvebP1ngj/b0W71hGO1Go/EmAJVKxXAcJ0ilUsVH0P1+v+v3+261Wm0fj8dQADzP+8xms0Vd16GqKpLJpMS5XC7YbrcYDoeYTqdYLpfvruu+PvMoylwqlZDP57lL2s/nM0ajESaTCTRNA4kpQADoI6oAlOneorIRhiFmsxkTm6YpQhLiFB1utxtbvV6PMoCEVPZ4PMZgMEA6nYZlWWznOqmC6/XK/LVaDavVCr7vM+BisQC11+12wWM4QKqAO+v1OgqFAubzOYIgYBAS/zQfCUD908pkMmi1WsjlcgzU6XTEfO5nJLVAl4nEN1NRFDSbTUT/mkFoPmT3LUiAw+HAsvJW6D3QiosIGDfRwul02tHEKSAuiAfT3WazAcVyv3iJ5XLZsG07iEp/+JRJHM3kZb1ef3DI/+5f5sKysL0yhGkAAAAASUVORK5CYII=');}
/* module-key = 'com.atlassian.confluence.plugins.confluence-page-layout:editor-pagelayout-content-styles', location = 'css/pagelayout/page-layout-editor-content.css' */
.wiki-content .columnLayout {
    border-spacing: 8px;
}

.wiki-content .header, .wiki-content .footer,
.wiki-content .cell {
    border: 2px dashed #ccc;
    margin: 8px;
    padding: 4px 8px;
}

.wiki-content .header,
.wiki-content .header .innerCell {
    margin-bottom: 0;
}

.wiki-content .footer,
.wiki-content .footer .innerCell {
    margin-top: 0;
}

.wiki-content .innerCell {
    outline: 0px;
    overflow: auto;
    overflow-y: hidden;
    height: 100%;
}

/*CONFDEV-7477 Horizontal scrollbars appear unnecessarily when inserting body macros into page layout middle cells in IE8*/
.wiki-content .wysiwyg-macro {
    *width: 99.46%;
}

.wiki-content .sidebars .wysiwyg-macro {
    *width: 98.88%;
}
/*End CONFDEV-7477*/

/* Page Layouts 2 Context menu */
.columnLayout {
    *margin-right: 10px;
}

.section-decorator {
    display: table-cell;
    width: 14px;
    overflow: visible;
    /* IE8 compatibility: */
    *display: block;
    *overflow: hidden;
    *position: absolute;
    *right: 0;
}

.section-decorator button {
    border: 0;
    background: transparent;
    box-shadow: none;
    padding: 7px 0 7px 0;
    text-align: center;
    width: 14px;
    height: 20px;
    color: #aaa;
    /* IE8 */
    *padding: 0;
}

.show-property-panel .icon {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #333;
    /* IE8 */
    *display: inline-block;
}

.section-decorator .move-section {
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

/* Page Layouts 2 Cell Styling */
body.mceContentBody.pl2-contextual {
    margin: 0;
    padding: 0;
    /* IE8 */
    *margin-right: 15px;
}

.wiki-content .contentLayout2 .columnLayout {
    border-spacing: 4px 2px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.wiki-content .contentLayout2 .cell {
    border: 1px dashed #999;
    border-radius: 5px;
    /* IE8 */
    *border: 0;
    padding: 0px;
}


.wiki-content .contentLayout2 .innerCell {
    padding: 5px;
    min-height:20px; /* Prevents inner cell to be uneditable when there is not content */

    /* Override PL2 for IE8 */
    *border: 1px dashed #999;
}

.wiki-content .contentLayout2 .columnLayout > :first-child {
    /* IE8 */
    *padding-left: 0;
}

.wiki-content .contentLayout2 > :first-child {
    margin-top: 5px;
}

/* module-key = 'com.atlassian.confluence.plugins.confluence-business-blueprints:sharelinks-urlmacro-editor-resources', location = 'com/atlassian/confluence/plugins/sharelinksurlmacro/css/sharelinks-urlmacro-editor.css' */
.editor-inline-macro[data-macro-name='sharelinks-urlmacro']{border:0}
